@import url(global.css);

/* header */
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 15px;
        gap: 120px;
    }

    .navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
    }

    .navigation ul{
        display: flex;
        gap: 21px;
        list-style: none;
    }

    .navigation a{
        text-decoration: none;
        color: var(--light-text-color);
    }

    .nav-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .login-button{
        background-color: var(--dark-background-color);
        color: var(--light-text-color);
        font-size: 14px;
    }

    .member-button{
        display: flex;
        padding: 15px 25px;
        gap: 15px;
        color: var(--light-text-color);
        background-color: var(--primary-color);
        border-radius: 5px;
        font-size: 14px;
    }
/* fim - header */

/* main */
    .main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 157px 20px 157px;
    }

    .main-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 509px;
        gap: 35px;
    }

    .main-info h1{
        font-size: 58px;
        color: var(--light-text-color);
    }

    .main-info p{
        font-size: 20px;
        width: 376px;
        color: var(--light-text-color);
    }

    .main-buttons{
        display: flex;
        gap: 10px;
    }

    .get-quote{
        padding: 15px 36px;
        background-color: var(--primary-color);
        color: var(--light-text-color);
        border-radius: 37px;
        font-size: 14px;
    }

    .learn{
        padding: 15px 36px;
        background-color: var(--dark-background-color);
        color: var(--light-text-color);
        border: solid 1px var(--light-background-color);
        border-radius: 37px;
        font-size: 14px;
    }
/* fim - main */

/* strategy */
    .strategy-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px 231px 24px 231px;
        padding: 45px 0px;
    }

    .strategy-info h2{
        text-align: center;
        width: 451px;
        color: var(--light-text-color);
        font-size: 40px;
    }

    .strategy-info p{
        text-align: center;
        width: 470px;
        color: var(--second-text-color);
        margin-top: 10px;
    }

    .strategy-cards{
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-left: 25px;
    }

    .card{
        display: flex;
        padding: 35px 20px;
        gap: 20px;
        width: 328px;
        border: solid 1px var(--light-background-color);
    }

    .card img{
        width: 48px;
        height: 39.53px;
        justify-content: center;
        align-items: center;
    }

    .card-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .card-info h3{
        font-size: 16px;
        color: var(--light-text-color);
        width: 167px;
    }

    .card-info p{
        color: var(--light-text-color);
        width: 213px;
    }
/* fim - strategy */

/* clients */
    clients{
        margin-top: 30px;
    }

    .clients-container{
        padding: 112px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clients-info{
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .clients-info h2{
        font-size: 40px;
        color: var(--light-text-color);
        text-align: center;
    }

    .clients-info p{
        color: var(--light-text-color);
        width: 470px;
        text-align: center;
    }

    .regina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        gap: 30px;
        padding: 40px 35px;
        background-color: var(--light-background-color);
        width: 744px;
    }

    .regina-image{
        width: 96px;
        height: 96px;
    }

    .regina-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 433px;
        text-align: center;
    }

    .who{
        display: flex;
        flex-direction: column;
        width: 162px;
        gap: 8px;
    }

    .who h3{
        font-size: 24px;
    }

    .who p{
        color: var(--second-text-color);
    }
/* fim - clients */

/* downloads */
    .download-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0px;
    }

    .download-info{
        text-align: center;
        width: 607px;
        margin-bottom: 50px;
    }

    .download-info h2{
        font-size: 40px;
        color: var(--light-text-color);
        margin: 10px;
    }

    .download-info{
        width: 470px;
        color: var(--light-text-color);
    }

    .download-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .appstore{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 28px;
        gap: 25px;
        border: solid 1px var(--light-text-color);
        border-radius: 10px;
    }

    .googleplay{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 28px;
        gap: 25px;
        border: solid 1px var(--light-text-color);
        border-radius: 10px;
    }

    .amazon{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 28px;
        gap: 25px;
        border: solid 1px var(--light-text-color);
        border-radius: 10px;
    }

    .windowsstore{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 28px;
        gap: 25px;
        border: solid 1px var(--light-text-color);
        border-radius: 10px;
    }

    .download-cards-info{
        color: var(--light-text-color);
    }

    .download-cards-info h3{
        font-size: 16px;
    }
/* fim - downloads */

/* pricing */
    pricing{
        margin: 0px 36px 75px 36px;
    }

    .pricing-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 160px 0px;
        gap: 96px;
    }

    .pricing-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--light-text-color);
        width: 625px;
        text-align: center;
        gap: 10px;
    }

    .pricing-info h2{
        font-size: 40px;
    }

    .pricing-info p{
        width: 470px;
    }

    .pricing-cards-container{
        display: flex;
        justify-content: center ;
        align-items: start;
        gap: 30px;
        
    }
    
    .pricing-cards-container article{
        background-color: var(--light-text-color);
        padding: 50px 49px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        gap: 30px;
    }
    
    .pricing-cards-container article h3{
        color: var(--primary-color);
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .pricing-cards-container article p{
        color: var(--second-text-color);
        width: 217px;
        margin-bottom: 0px;
        font-weight: 600;
    }
    .pricing-cards-info{
        text-align: start;
    }
    
    .price{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 25px;
        color: var(--primary-color);
        font-size: 40px;
        gap: 10px;
    }

    .price h4{
        font-size: 40px;
    }
    .price-info{
        text-align: start;
    }
    .price-info h5{
        font-size: 16px;
    }
    .price-info p{
        color: var(--disabled-element-color);
    }

    .pricing-cards button{
        font-size: 14px;
        color: var(--light-text-color);
        background-color: var(--primary-color);
        border-radius: 5px;
        width: 164px;
        height: 52px;
    }
/* fim - pricing */
/* branches */
    .branches{
        display: flex;
        flex-direction: column;
        margin: 75px, 36px, 135px, 36px;
        gap: 101px;
        justify-content: center;
        align-items: center;
    }

    .branches-info{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 1048px;
    }

    .branches-text{
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
        gap: 15px;
        width: 602px;
    }

    .branches-text h2{
        font-size: 40px;
        color: var(--light-text-color);
        width: 476px;
    }
    
    .branches-text p{
        color: var(--light-text-color);
        width: 455px;
    }

    .branches-worldmap{
        padding: 50px 0px;
        width: 416px;
    }

    .branches-form{
        display: flex;
        padding: 50px 0px;
        gap: 0px;
    }

    .form{
        display: flex;
        flex-direction: column;
        padding: 40px 50px;
        gap: 40px;
        background-color: var(--light-background-color);
    }

    .form h3{
        font-size: 24px;
        text-align: center;
    }

    .form-input{
        display: flex;
        flex-direction: column;
        width: 510px;
        gap: 10px;
    }

    .form-name{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 509px;
    }

    .form-email{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 509px;
    }

    .form-departement{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 509px;
    }

    .form-departement{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 509px;
    }

    .form-time{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 509px;
    }

    label{
        font-size: 14px;
    }

    input{
        height: 50px;
        background-color: var(--input-color);
        border: solid 1px var(--input-border-color);
        border-radius: 5px;
        padding: 0px 0px 0px 21px;
    }

    select{
        height: 50px;
        background-color: var(--input-color);
        border: solid 1px var(--input-border-color);
        border-radius: 5px;
        padding: 0px 0px 0px 21px;
    }

    .form-button{
        margin: 40px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .book-appointment{
        padding: 15px 40px;
        width: 510px;
        background-color: var(--primary-color);
        color: var(--light-text-color);
        font-size: 14px;
        border-radius: 5px;
    }
/* fim - branches */